{% extends 'base.html' %}
{% load crispy_forms_field %}
{% block content %}
    <div class="container">
               <div class="row mt-3">
                   <div class="col-3">
                       <div class="list-group">
                          <a href="{% url 'patientDsh' %}" class="list-group-item text-center list-group-item-action active" aria-current="true">
                            Dashboard
                          </a>
                          <a href="{% url 'patientallpost' %}" class="list-group-item list-group-item-action">All Posts</a>
                          <a href="{% url 'patientaddpost' %}" class="list-group-item list-group-item-action">Add Post</a>
                          <a href="{% url 'patientalldraftpost' %}" class="list-group-item list-group-item-action">Draft Posts</a>
                       </div>
                   </div>
                   <div class="col-9">
                       <div class="card">
                           <h2 class="card-text mx-auto text-primary mt-3">Patient Details</h2>
                           {% if user.profile_picture %}
                               <img src="{{ user.profile_picture.url }}" class="rounded-circle mx-auto" width="200" height="200" alt="...">
                           {% else %}
                               <img src="https://st2.depositphotos.com/1104517/11965/v/600/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg" class="rounded-circle mx-auto" width="200" height="200" alt="...">
                           {% endif %}
                          </span>
                           <div class="card-body">
                               <hr>

                               <table class="table table-hover">
                                   <tr>
                                       <th>@Username</th>
                                       <td>{{ user.username }}</td>
                                   </tr>
                                   <tr>
                                       <th>Email</th>
                                       <td>{{ user.email }}</td>
                                   </tr>
                                   <tr>
                                       <th>First Name</th>
                                       <td>{{ user.first_name }}</td>
                                   </tr>
                                   <tr>
                                       <th>Last Name</th>
                                       <td>{{ user.last_name }}</td>
                                   </tr>
                                   <tr class="float-end">
                                       <th>Address</th>
                                       <th>Details</th>
                                   </tr>
                                   <tr>
                                       <th>Place</th>
                                       <td>{{ user.place }} </td>
                                   </tr>
                                   <tr>
                                       <th>City</th>
                                       <td>{{ user.city }} </td>
                                   </tr>
                                   <tr>
                                       <th>State</th>
                                       <td>{{ user.state }} </td>
                                   </tr>
                                   <tr>
                                       <th>Pin Code</th>
                                       <td>{{ user.pincode }} </td>
                                   </tr>
                               </table>
                           </div>
                       </div>
                   </div>
               </div>
          </div>
{% endblock %}