{% extends 'base.html' %}
{% load crispy_forms_field %}
{% block content %}
    <div class="container">
               <div class="row mt-3">
                   <div class="col-3">
                       <div class="list-group">
                          <a href="{% url 'patientDashboard' %}" class="list-group-item text-center list-group-item-action active" aria-current="true">
                            All Categories
                          </a>
                          {% for cat in allCategories %}
                              <a href="{% url 'catfilter' cat.id %}" class="list-group-item list-group-item-action">{{ cat.title }}</a>
                          {% endfor %}
                       </div>
                   </div>
                   <div class="col-9">
                         {% for foo in allPosts %}
                             <div class="card mb-3" style="max-width: 950px;">
                                  <div class="row g-0">
                                    <div class="col-md-4">
                                      <img src="{{ foo.image.url }}" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                      <div class="card-body">
                                        <h5 class="card-title">{{ foo.title }}</h5>
                                        <p class="card-text">{{ foo.summary|truncatechars:15 }}</p>
                                      </div>
                                    </div>
                                  </div>
                             </div>
                         {% endfor %}
                   </div>
               </div>
          </div>
{% endblock %}